@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,div,main{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* min-height: 100%; */
}
input{
  /* box-sizing: content-box; */
}
a {
  color: #000;
  text-decoration: none;
}
